<EditForm Model="@game" OnValidSubmit="@OnValidSubmit">

    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="form-group">
        <label>Add Game: </label>
        <div>
            <InputText @bind-Value="@game.GameName" class="form-control" />
            <ValidationMessage For="@(() => game.GameName)" />
        </div>
    </div>
     
     <div class="form-group">
        <label>Add Game Price: </label>
        <div>
            <InputText @bind-Value="@game.GamePrice" class="form-control" />
            <ValidationMessage For="@(() => game.GamePrice)" />
        </div>
    </div>

    <div class="form-group">
        <label>Add Company Name: </label>
        <div>
            <InputText @bind-Value="@game.GameCompany" class="form-control" />
            <ValidationMessage For="@(() => game.GameCompany)" />
        </div>
    </div>

    <ValidationSummary />
    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>

    <BackToList Target="games" />

</EditForm>

@code {
    [Parameter] public Games game { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}
